@import url(nreset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
  color: white;
  background-color: #101010;
  font-family: 'Roboto', sans-serif;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btn {
  background-color: white;
  border: none;
  height: 2em;
  width: 8em;
}

.btn:disabled {
  color: black;
  background-color: white;
}

.btn:hover {
  cursor: pointer;
}

.btn--o {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.btn--x {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.container__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 50em;
}

.content__board {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 28em;
}

.board__grid {
  background-color: black;
  display: grid;
  gap: 0.3em;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  height: 20em;
  width: 20em;
}

.board__grid div {
  background-color: white;
}

.board__grid--active {
  display: none;
}

.board__square {
  align-items: center;
  background-color: white;
  color: black;
  display: flex;
  font-family: 'Fredoka One', cursive;
  font-size: 4rem;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.board__square:hover {
  cursor: pointer;
}

.board__square--active {
  animation: fade-in 1s;
}

.board__result {
  align-items: center;
  animation: fade-in 3s;
  display: none;
  flex-direction: column;
  height: 20em;
  justify-content: center;
  width: 20em;
}

.board__result--active {
  display: flex;
}

.result__player {
  font-size: 8rem;
}

.result__message {
  font-size: 2rem;
}

.board__text {
  height: 1em;
}

.board__player {
  display: flex;
  justify-content: space-between;
  width: 16.5em;
}

.player__o {
  height: auto;
  width: 1em;
}

.player__x {
  height: auto;
  width: 1em;
}

.content__information {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 28em;
  width: 25em;
}

.information__title {
  align-self: flex-start;
}

.information__description {
  text-align: right;
}

.information__tags {
  color: white;
  font-size: 1.1rem;
  text-decoration: none;
}

.tags__github {
  height: auto;
  width: 3em;
}

.tags__gitlogo {
  height: auto;
  width: 1.5em;
}
