@import url(nreset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
  color: white;
  background-color: #101010;
  font-family: 'Roboto', sans-serif;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes color {
  from {
    background-color: white;
  }
  to {
    background-color: #58a6ff;
  }
}

@keyframes color-alt {
  from {
    background-color: white;
  }
  to {
    background-color: #ff587f;
  }
}

.btn {
  background-color: white;
  border: none;
  height: 2em;
  width: 8em;
}

.btn:hover {
  cursor: pointer;
}

.btn--o {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.btn--x {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.btn--o--active {
  animation: color 1s;
  background-color: #58a6ff;
  color: white;
}

.btn--x--active {
  animation: color-alt 1s;
  background-color: #ff587f;
  color: white;
}

.btn--restart {
  background-color: transparent;
  color: white;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1em;
  width: 100vw;
}

.container__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 28em;
  width: 50em;
}

.content__board {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 28em;
}

.board__grid {
  background-color: black;
  display: grid;
  gap: 0.3em;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  height: 20em;
  width: 20em;
}

.board__grid div {
  background-color: white;
}

.board__grid--active {
  display: none;
}

.board__grid--alt {
  animation: fade-in 1s;
}

.board__square {
  align-items: center;
  background-color: white;
  color: black;
  display: flex;
  font-family: 'Fredoka One', cursive;
  font-size: 4rem;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.board__square:hover {
  cursor: pointer;
}

.board__square--active {
  animation: fade-in 1s;
}

.board__result {
  align-items: center;
  animation: fade-in 1s;
  display: none;
  flex-direction: column;
  height: 20em;
  justify-content: center;
  width: 20em;
}

.board__result--active {
  display: flex;
}

.board__result--active:hover {
  cursor: pointer;
}

.result__player {
  font-size: 8rem;
}

.result__message {
  font-size: 2rem;
}

.board__text {
  height: 1em;
}

.board__player {
  display: flex;
  justify-content: space-between;
  width: 16.5em;
}

.player__o {
  height: auto;
  width: 1em;
}

.player__x {
  height: auto;
  width: 1em;
}

.content__information {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 28em;
  width: 25em;
}

.information__select {
  align-self: flex-start;
  background-color: white;
  margin-bottom: auto;
  outline: none;
}

.information__select:hover {
  cursor: pointer;
}

.information__title {
  align-self: flex-start;
}

.information__description {
  text-align: right;
}

.information__tags {
  color: white;
  font-size: 1.1rem;
  margin-bottom: auto;
  text-decoration: none;
}

.tags__github {
  height: auto;
  width: 3em;
}

.tags__gitlogo {
  height: auto;
  width: 1.5em;
}

/* Mobile */

@media screen and (max-height: 868px) and (max-width: 868px) {
  .container__content {
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100%;
  }

  .content__board {
    order: 2;
  }

  .content__information {
    flex-direction: row;
    height: 5%;
    justify-content: space-around;
    order: 1;
    top: 0;
    width: 20em;
  }

  .information__select {
    align-self: center;
    margin: 0;
  }

  .information__title {
    display: none;
  }

  .information__description {
    display: none;
  }

  .information__tags {
    margin: 0;
  }
}

@media screen and (max-height: 568px) {
  .container {
    height: 100%;
  }

  .container__content {
    height: 100%;
  }
}
